@model IEnumerable<WebApplication1.Models.Student>

@{
    ViewBag.Title = "Index";
}

<h2>اسماء الطلاب</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <table class="table table-hover table-condensed table-striped table-bordered">
        <thead>
            <tr>
                <td>student Name</td>
                <td colspan="3">status</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @Html.Hidden(item.StudentId)
                    <td>@item.FullName</td>
                    <td>
                        @foreach (var attends in item.AttendanceStatuses)
                        {
                            @Html.RadioButton(item.Statute, attends.Id, new { id = item.StudentId + "attends" + attends.Id, @Name = item.StudentId })
                            @Html.Label(item.StudentId + "attends" + attends.Id, attends.Description)
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <input type="submit" value="submit" />
}