@model List<WebApplication1.Models.Student>
@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <table class="table table-hover table-condensed table-striped table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().StudentStatus)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @foreach (var status in item.StudentStatusList)
                    {
                        @Html.RadioButtonFor(modelItem => item.StudentStatus, status.ID, new { @id = "Status" + item.Id+ status.ID, @Name = item.Id })
                        @Html.Label("Status" + item.Id+ status.ID, status.Type)
                    }
                </td>
            </tr>
        }
    </table>
    <input type="submit" value="Save" class="btn btn-default" />
}
